.contact {
    margin-bottom: 3rem;

    &__wrapper {
        max-width: 400px;
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 1rem;
    }
}