.hero {
    margin-bottom: 3rem;

    &__wrapper {

        @include breakpoint-up(large) {
            max-width: 500px;
        }
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 3rem;
    }

    &__clients {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include breakpoint-up(xlarge) {
            gap: 2rem;
        }

        @include breakpoint-up(xxlarge) {
            justify-content: space-between;
        }
    }
}